<div class="container container-fluid">
    <div class="lingvo-header container-fluid">
        <h3>Abgemeldet</h3>
    </div>
    <p style="padding-top: 20px;">Sie wurden aus dem Lingvo Redaktionssystem abgemeldet. </p>
    <div style="text-align: center; padding-top: 20px;">
        <a class="btn-success btn-lg" style="border: none" asp-controller="Account" asp-action="Login">
            Zur&uuml;ck zur Anmeldung <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>