<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <h2>Abgemeldet</h2>
        <p>Sie wurden aus dem Lingvo Redaktionssystem abgemeldet. </p>
        <p>Zur Anmeldung geht es <a asp-action="Login" asp-controller="Account">hier</a>.</p>
    </body>
</html>