<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div class="container container-fluid">
            <div class="lingvo-header container-fluid">
                <h3>Benutzer erfolgreich angelegt</h3>
            </div>
            <p style="padding-top:20px;">
                Der neue Benutzer wurde erfolgreich angelegt.
                Nach der Abmeldung des aktuellen Benutzers können Sie sich mit dem neuen Nutzernamen anmelden.
            </p>
            <div style="text-align: center; padding-top: 20px;">
                <a class="btn-success btn-lg" style="border: none" asp-controller="Home" asp-action="Index">
                    Zur&uuml;ck zur Startseite <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </body>
</html>