@model CreateUserModel
<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div class="container container-fluid">
            <div class="lingvo-header container-fluid">
                <h3>Neuen Nutzer erfolgreich angelegt</h3>
            </div>
            <p style="padding-top:20px;">
                Der neue Benutzer wurde erfolgreich angelegt.
                Nach der Abmeldung des aktuellen Benutzers können Sie sich mit dem neuen Nutzernamen anmelden.
            </p>
        </div>
    </body>
</html>