
    html, body {
      font-size:20px;
      width: 100%;
      padding: 0;
      height: 100%;
    }
    body {
        padding: 60px 0 50px 0;
    }
    .navbar-inverse {
      background-color: #4280D0 !important;
      border-color: white !important;
    }
    .navbar-collapse.collapse li a {
      color: white !important;
      font-size: 18px;
    }
    .navbar-header a {
      color: white !important;
      font-size: 30px;
    }
    .navbar .dropdown-menu li a {
        color: black !important;
        font-size: 120%;
    }
    .dropdown-menu li.textonly-item  a {
        color: gray !important;
        pointer-events: none;
    }
    .nav .open > a.btn-primary, .nav .open > a.btn-primary:focus, .nav .open > a.btn-primary:hover
    {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .wrapper {
        min-height: 100%;
        margin: 0 auto;
    }

    .footer
    {

      left: 0;
      right: 0;
      margin: 0px;
      width: 100%;
      height: 50px;
      background-color: #4280D0;
      color: white;
      padding: 15px;
    }

    .push {
        height: 51px;
    }

    .fill {
      min-height: 100%;
      height: 100% !important;
    }

    .lingvo-header {
      background-color: #4280D0; 
      color: white;
      padding: 18px;
      border-radius: 5px;
      font-weight: normal;
      margin-top: 20px;
    }
    .lingvo-header h3 a {
        color: white;
        text-decoration: underline;
    }
        .lingvo-header h3 {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            vertical-align: middle;
        }
    .lingvo-header .create-button {
        float: right;
        margin: 0px;
        width: 15%;
    }

    .glyphicon-button .glyphicon {
        color: darkgray;
    }
    .glyphicon-button:hover .glyphicon {
        color: #555;
    }

    /* highlight published workbooks */
    .glyphicon-button .glyphicon-eye-open {
        color: #4280D0
    }
    .glyphicon-button:hover .glyphicon-eye-open {
        color: #2E6DA4
    }

    .workbook-title {
      font-size: 24px;
      margin: 0px;
    }
    .workbook-subtitle {
      font-size: 20px;
      color: gray;
    }

    #workbooks td {
      vertical-align: middle !important; /*needed to override default bootstrap <td> layout*/
      font-size: 20px;
    }

    .pages-table {
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    p { margin:0; }

    .glyphicon-button {
      border: 0;
      background: transparent;
      cursor: pointer;
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;

      position: absolute;
      z-index: -1;
    }
    .inputfile + label {
      max-width: 80%;
      border-width:2px;
      font-size: 1.25rem;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
      color: #4280D0;
    }

    .inputfile + label {
      cursor: pointer; /* "hand" cursor */
    }
    .box {
      padding: 6.25rem 1.25rem;
      display: block;
    }
    .box + .box {
      margin-top: 2.5rem;
    }


    .hover-blue {}
    label:hover .hover-blue {
        fill: #4280D0;
    }


    .field-validation-error {
        font-size: 70%;
        font-weight: bold;
        color: red;
    }

.vcenter {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(25%);
}

.loader {
    margin: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    background: repeating-linear-gradient(
        0deg,
        black,
        black 40px,
        red 40px,
        red 80px,
        yellow 80px,
        yellow 120px
    );
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-header-info {
    background-color: #4280D0;
    color: white !important;
    font-weight: bold;
}
    .modal-header-error {
        background-color: #cc0000;
        color:white !important;
        font-weight: bold;
    }

    .modal-header-warning {
        background-color: #ff8c1a;
        color:white !important;
        font-weight: bold;
    }

    .btn-warn {
        background-color: #ff8c1a;
        color:white !important;
    }

.page-play-button .glyphicon {
    margin: 0;
    padding: 10%;
    display: inline-block;
    font-size: 150%;
    text-align: center;
    border-radius: 50%;
    border: solid 4px;
}

    #meter
    {
        display: inline !important;
        border: 1px solid #000000;
        vertical-align: middle !important;
        margin-left: 30px;
    }


    #record-btn {
        width: 185px;
        text-align: left;
    }
    .toggle-button-toggle {
        display: none;
    }
    .toggle-button-toggle:checked + .toggle-action-button .toggle-button-state1 {
        display: none;
    }
    .toggle-button-toggle:not(:checked) + .toggle-action-button .toggle-button-state2 {
        display: none;
    }
    .toggle-button-state1, .toggle-button-state2 {
        line-height: 25px;
        display: inline-block;
        vertical-align: middle;
    }
.record-btn-circle, .record-btn-box {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    border: solid #d83629 2px;
    border-radius: 50%;
}
.record-btn-circle {
    background-color: #d83629;
}
.record-btn-box {
    text-align: center;
}
.record-btn-box:after {
    display: inline-block;
    background-color: #d83629;
    width: 15px;
    height: 15px;
    content: "";
}