
    html, body {
      font-size:20px;
      width: 100%;
      padding: 30px 0;
      height: 100%;
    }
    .navbar-inverse {
      background-color: #4280D0 !important;
      border-color: white !important;
    }
    .navbar-collapse.collapse li a {
      color: white !important;
      font-size: 18px;
    }
    .navbar-header a {
      color: white !important;
      font-size: 30px;
    }
    .navbar .dropdown-menu li a {
        color: black !important;
        font-size: 120%;
    }
    .dropdown-menu li.textonly-item  a {
        color: gray !important;
        pointer-events: none;
    }
    .nav .open > a.btn-primary, .nav .open > a.btn-primary:focus, .nav .open > a.btn-primary:hover
    {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .footer
    {

      left: 0;
      right: 0;
      margin: 0px;
      width: 100%;
      height: 51px;
    }

    .fill {
      min-height: 100%;
      height: 100% !important;
    }



    footer {
      background-color: #4280D0;
      color: white;
      padding: 15px;
    }

    .lingvo-header {
      background-color: #4280D0; 
      color: white;
      padding: 18px;
      border-radius: 5px;
      font-weight: normal;
      margin-top: 20px;
    }
    .lingvo-header h3 a {
        color: white;
        text-decoration: underline;
    }
        .lingvo-header h3 {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            vertical-align: middle;
        }
    .lingvo-header .create-button {
        float: right;
        margin: 0px;
    }
    .glyphicon.glyphicon-eye-open {
      color: #4280D0;
    }
    .glyphicon-pencil, .glyphicon-trash, .glyphicon-eye-close {
      color: gray;
    }

    .workbook-title {
      font-size: 24px;
      margin: 0px;
    }
    .workbook-subtitle {
      font-size: 20px;
      color: gray;
    }

    #workbooks td {
      vertical-align: middle !important; /*needed to override default bootstrap <td> layout*/
      font-size: 20px;
    }

    p { margin:0; }

    .glyphicon-button {
      border: 0;
      background: white;
      cursor: pointer;
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;

      position: absolute;
      z-index: -1;
    }
    .inputfile + label {
      max-width: 80%;
      border-width:2px;
      font-size: 1.25rem;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
      color: #4280D0;
    }

    .inputfile + label {
      cursor: pointer; /* "hand" cursor */
    }
    .box {
      padding: 6.25rem 1.25rem;
      display: block;
    }
    .box + .box {
      margin-top: 2.5rem;
    }


    .hover-blue {}
    label:hover .hover-blue {
        fill: #4280D0;
    }


    .field-validation-error {
        font-size: 70%;
        font-weight: bold;
        color: red;
    }
