    .navbar-inverse {
      background-color: #4280D0 !important;
      border-color: white !important;
    }
    .navbar-collapse.collapse li a {
      color: white !important;
      font-size: 24px;
    }
    .navbar-header a {
      color: white !important;
      font-size: 30px;
    }

    .footer
    {

      left: 0;
      right: 0;
      margin: 0px;
      width: 100%;
      height: 51px;
    }

    .fill {
      min-height: 100%;
      height: 100% important!;
    }



    footer {
      background-color: #4280D0;
      color: white;
      padding: 15px;
    }

    #workbook-header {
      background-color: #4280D0; 
      color: white;
      padding: 15px;
      border-radius: 5px;
      font-weight: normal;
    }
    .glyphicon.glyphicon-globe.published {
      color: #4280D0;
    }
    .glyphicon-pencil, .glyphicon-trash, .glyphicon-globe.unpublished {
      color: gray;
    }

    .workbook-title {
      font-size: 20px;
      margin: 0px;
    }
    .workbook-subtitle {
      font-size: 14px;
      color: gray;
    }

    #workbooks td {
      vertical-align: middle !important; /*needed to override default bootstrap <td> layout*/
      font-size: 16px;
    }

    p { margin:0; }

    /*Fab button CSS*/
    .fab {
      background: #4280D0;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      text-align: center;
      color: #FFF;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
      position: fixed;
      bottom: 80px;
      right: 48px;
      font-size: 2.6667em;
      display: inline-block;
      cursor: pointer;
    }
    .fab span {
      vertical-align: middle;
    }
