<div class="container container-fluid">
    <div class="lingvo-header container-fluid">
        <h3>Impressum</h3>
    </div>
	<div style="margin-top: 20px; margin-left: 10px;">
		<p>Universität Augsburg<br>Institute for Software & Systems Engineering</p>
		<a href="http://www.isse.uni-augsburg.de">www.isse.uni-augsburg.de</a>
		<p style="margin-top: 5px; margin-bottom: 15px;">In Zusammenarbeit mit Maiborn Wolff GmbH und Tauschring Gelderland eV</p>
		<a href="javascript:history.back()">zurück</a>
	</div>
</div>