<div class="container container-fluid">
    <div class="lingvo-header container-fluid">
        <h3>Impressum</h3>
    </div>
	<div style="margin-top: 20px; margin-left: 10px;">
		<p>Universität Augsburg<br>Institute for Software & Systems Engineering</p>
		<a href="http://www.isse.uni-augsburg.de">www.isse.uni-augsburg.de</a>
		<p style="margin-top: 5px; margin-bottom: 15px;">In Zusammenarbeit mit Maiborn Wolff GmbH und Tauschring Gelderland eV</p>
	</div>
    <hr/>
    <div>
        <h3>Entwicklerteam</h3>
        <ul style="font-size:95%">
            <li>Jan G&ouml;bel</li>
            <li>Dominik Klumpp</li>
            <li>Philip Lenzen</li>
            <li>Katja Ludwig</li>
            <li>Ralph Reithmeier</li>
        </ul>
        im Rahmen des Elite-Studiengangs <em>Software Engineering</em>.
    </div>
    <div style="text-align: center; padding-top: 20px;">
        <a class="btn btn-success btn-lg" style="border: none" href="javascript:history.back()">
            Zur&uuml;ck <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>