<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

		footer {
			background-color: #4280D0;
			color: white;
			padding: 15px;
		}


		#arbeitshefte-header {
			background-color: #4280D0; 
			color: white;
			padding: 15px;
			border-radius: 5px;
			font-weight: normal;
		}
			
		p { margin:0 }
</style>
</head>
<body>

<div class="container container-fluid">
<h3 id="arbeitshefte-header">Arbeitshefte > Thannhauser</h3>
<table id="arbeitshefte" class="table">
<tbody>
<tr>
<td><p style="font-size: 20px"><a asp-area="" asp-controller="Home" asp-action="Arbeitsheft">Seite 1</a></p><p style="font-size: 14px; color: gray">Die Zahlen</p></td>
<td style="vertical-align: middle; font-size: 16px">02:07 min</td>
<td style="vertical-align: middle; font-size: 16px">Erstellt: 21.01.17</td>
<td style="vertical-align: middle; font-size: 16px"><span class="glyphicon glyphicon-pencil"></span></td>
<td style="vertical-align: middle; font-size: 16px"><span class="glyphicon glyphicon-trash"></span></td>
<td style="vertical-align: middle; font-size: 16px"><span class="glyphicon glyphicon-play"></span></td>
</tr>
</tbody>
</table>

</div>

</body>
</html>

