<!DOCTYPE html>
<html lang="en">
<head></head>
<body>

<h1>Neues Arbeitsheft erstellen</h1>
<form style="padding-top: 20px">
  <div class="form-group">
    <label for="email">Arbeitsheft Name</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Arbeitsheft Titel</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn-lg btn-success" style="border:none">Arbeitsheft anlegen</button>
</form>


</body>
</html>

