<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <package id="Microsoft.NET.Sdk" version="1.0.0-alpha-20161104-2" targetFramework="netcoreapp1.0" />
  <package id="Microsoft.NET.Test.Sdk" version="15.0.0-preview-20161227-02" targetFramework="netcoreapp1.0" />
  <package id="Microsoft.NETCore.App" version="1.1.0" targetFramework="netcoreapp1.0" />
  <package id="xunit" version="2.2.0-beta4-build3444" targetFramework="netcoreapp1.0" />
  <package id="xunit.runner.visualstudio" version="2.2.0-beta4-build1194" targetFramework="netcoreapp1.0" />
</packages>